body {
  background-color: rebeccapurple;
}

section.game {
  display: flex;
  flex-direction: column;
  background-color: rosybrown;
}

div.question {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question h2 {
  background-color: sandybrown;
  padding: 2rem;
  cursor: pointer;
}

div.answers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div.answers h2 {
  background-color: sandybrown;
  padding: 2rem;
}

.drag-over {
  border: dashed 3px red;
}


div.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.hide {
  display: none;
}

section.score {
  display: flex;
  justify-content: center;
  align-items: center;
}